<div>
<div class='row'>
<div class='col-md-4'>
<button ng-click='commentCtrl.show_comments(expense)' ng-hide='commentCtrl.displayComments'>Show Comments</button>
</div>
</div>
<section ng-show='commentCtrl.displayComments'>
<ul>
<li ng-repeat='comment in commentCtrl.comments'>

		{{comment.text}}

</li>
</ul>
<div class='row'>

	<div class='col-md-4'>
		<div class='form-group'>
		<textarea class="form-control" ng-model='commentCtrl.comment_text' cols=24 rows=3 />
		</div>
		<button class='btn btn-warning' ng-click='commentCtrl.create(expense)'>Send</button>
	</div>
</div>
</section>


</div>